body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  color: #fff;
  padding: 10px;
}

.navContainer{
    position: fixed;
    background-color: rgb(0, 0, 43);
    margin: 0;
    width: 100%;
}
.py-3{
    justify-content: center;
}

.logo{
    position: fixed;
    height: 45px;
    top: 1em;
    left: 1em;
}

.mobile-nav{
    display: none;
    list-style-type: none;
    margin: 0 0.5em 0 0;
}

.dropdown_menu{
    display: none;
}

.dropdown_menu{
    padding: 0;
    border-color: lightgray;
    margin: 0 15px 15px 0;
} 

.dropdown_menu, ul{
    text-align: center;
    list-style-type: none;
}

a.nav-link{
    color: white !important;
}

a.nav-link.active {
    background: rgb(0, 28, 137) !important; 
    border-radius: 0;
    color: white;
}

.lines {
    text-align: center;
    list-style-type: none;
    color: black;
    border: 2px solid rgb(216, 216, 216);
    margin: 10px 0px 0px 0px;
    border-radius: 20px;
}

.lines, a{
    text-decoration: none;
}

.lines:active{
    background-color: lightgray;
}

.mainContainer{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}


.contactForm{ 
background-color: rgb(127, 45, 221);
width: 600px;
padding: 20px;
border-radius: 20px;
box-shadow: 0px 5px 11px 5px rgba(0, 0, 0, 0.232);
}

.Social-titles{
    padding: 5px;
}

.flex-container {
    display: grid;
    grid-template-columns: repeat(3, 0);
    grid-template-columns: repeat(3, 0.2fr);
    justify-content: center;
    padding: 0;
    margin: 0;
}
.mb-3{
    padding-top: 5px;
}

a{
    color: black;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.btn.btn-primary{
    background-color: rgb(97, 0, 208);
    border-color: rgb(172, 99, 255);
}

.form-label{
    padding-top: 8px;
}

.btn.btn-primary:active{
    background-color: rgb(83, 0, 179);
    border-color: rgb(83, 0, 179);
}

footer{
    width: 100%;
    height: 72px;
    background-color: rgb(0, 0, 43);
    color: white;
    padding-top: 23px;
    text-align: center;
}

.slide-img {
    width: 100%;
    height: 100;
    object-fit: cover;
  }

  #upcoming-events {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 100px;
  }
  #upcoming-events h1 {
    text-align: center;
  }
  .event-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
  }
  #eventDetails0 {
    display: none;
  }

  #eventDetails1 {
    display: none;
  }

  #eventDetails2 {
    display: none;
  }
/* Mobile styles down below; */
@media all and (max-width: 767px) {
    .mobile-nav{
        display: block;
    }

    .nav-item{
        display: none;
    }
    .py-3{
        justify-content: end;
    }
}