body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  color: #fff;
  padding: 10px;
}

.navContainer{
    position: fixed;
    background-color: rgb(0, 0, 43);
    margin: 0;
    width: 100%;
    z-index: 1;
}
.py-3{
    justify-content: center;
}

.logo{
    position: fixed;
    height: 45px;
    top: 1em;
    left: 1em;
}

.mobile-nav{
    display: none;
    list-style-type: none;
    margin: 0 0.5em 0 0;
}

.dropdown_menu{
    position: fixed;
    display: none;
    padding: 0;
    top: 72px;
    width: 100%;
    border-color: lightgray;
    background-color: white;
    padding-bottom: 10px;
    z-index: 2;
}

.dropdown_menu, ul{
    text-align: center;
    list-style-type: none;
}

a.nav-link{
    color: white !important;
}

a.nav-link.active {
    background: rgb(0, 28, 137) !important; 
    border-radius: 0;
    color: white;
}

.lines {
    text-align: center;
    list-style-type: none;
    color: black;
    border: 2px solid rgb(216, 216, 216);
    margin: 10px 0px 0px 0px;
    border-radius: 20px;
}

.lines, a{
    text-decoration: none;
}

.lines:active{
    background-color: lightgray;
}

.mainContainer{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.heroimage{
    display: flex;
    height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(src/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(4px);
    z-index: 0;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.heading{
    font-size: 6em;
    text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.723);
    padding: 0;
    margin: 0;
  }
  
  .subtitle{
    font-size: 2em;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.723);
  }
  
  button{
    background-color: rgb(92, 92, 92);
    border-radius: 7px;
    color: white;
    padding: 6px;
  }

.contactForm{ 
background-color: rgb(127, 45, 221);
width: 600px;
padding: 20px;
border-radius: 20px;
box-shadow: 0px 5px 11px 5px rgba(0, 0, 0, 0.232);
}

.Social-titles{
    padding: 5px;
}

.flex-container {
    display: grid;
    grid-template-columns: repeat(3, 0);
    grid-template-columns: repeat(3, 0.2fr);
    justify-content: center;
    padding: 0;
    margin: 0;
}
.mb-3{
    padding-top: 5px;
}

a{
    color: black;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.btn.btn-primary{
    background-color: rgb(97, 0, 208);
    border-color: rgb(172, 99, 255);
}

.form-label{
    padding-top: 8px;
}

.btn.btn-primary:active{
    background-color: rgb(83, 0, 179);
    border-color: rgb(83, 0, 179);
}

.slide-img {
    width: 100%;
    height: 100;
    object-fit: cover;
  }

  #upcoming-events {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px; 
    box-sizing: border-box;
    padding-top: 10px;
  }
  #upcoming-events h1 {
    text-align: center;
  }
  .event-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
  }

  #eventDetails0 {
    display: none;
  }

  #eventDetails1 {
    display: none;
  }

  #eventDetails2 {
    display: none;
  }

.albumsContainer{
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 35px;
}

.heading1 {
    color: black;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.image {
    width: 300px;
    height: 300px;
}

.image-container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.image-group {
    border: 2px solid rgb(250, 250, 250);
}

.homeContainer{
    display: flex;
    flex-direction: column;
}

  footer{
    height: 72px;
    background-color: rgb(0, 0, 43);
    color: white;
    padding-top: 23px;
    text-align: center;
}


@media  (max-width: 1280px) {
    .mobile-nav{
        display: block;
    }

    .py-3{
        justify-content: end;
    }

    .hero-text{
        justify-content: center;
        place-items: center;
        }

        .heroimage{
            width: 100%;
        }

        .nav-item{
            display: none;
        }

        .image-container{
            flex-direction: column;
            justify-content: center;
            place-items: center;
        }

        #upcoming-events{
            justify-content: center;
            place-items: center;
        }

        img{
            height: 600px;
        }
}

@media all and (max-width: 820px) {
    .mobile-nav{
        display: block;
    }

    .py-3{
        justify-content: end;
    }

    .hero-text{
        justify-content: center;
        place-items: center;
        }

        .heroimage{
            width: 100%;
        }

        .heading1{
            font-size: 19px;
        }

        p{
            font-size: 11px;
        }

        .nav-item{
            display: none;
        }

        .image-container{
            flex-direction: column;
            justify-content: center;
            place-items: center;
        }

        #upcoming-events h1{
            font-size: 19px;
        }

        #upcoming-events{
            justify-content: center;
            place-items: center;
        }

        img{
            height: 200px;
        }

        .event h2{
            font-size: 19px;
        }
}

/* Mobile styles down below; */
@media all and (max-width: 767px) {
    .mobile-nav{
        display: block;
    }

    .nav-item{
        display: none;
    }
    .py-3{
        justify-content: end;
    }

    .hero-text{
        justify-content: center;
        place-items: center;
        }

        .heroimage{
            width: 100%;
        }

        .heading1{
            padding-left: 10px;
            font-size: 21px;
        }

        p{
            padding-left: 10px;
            font-size: 15px;
        }

        .nav-item{
            display: none;
        }

        .image-container{
            flex-direction: column;
            justify-content: center;
            place-items: center;
        }

        #upcoming-events h1{
            font-size: 19px;
        }

        #upcoming-events{
            justify-content: center;
            place-items: center;
        }

        img{
            height: 200px;
        }

        .event h2{
            font-size: 19px;
        }
}

@media all and (max-width: 420px) {
    .mobile-nav{
        display: block;
    }

    .py-3{
        justify-content: end;
    }

    .hero-text{
        justify-content: center;
        place-items: center;
        font-size: 9px;
    }
        .heading1{
            font-size: 8.6px;
        }

        p{
            font-size: 5px;
        }

        .nav-item{
            display: none;
        }

        .image-container{
            flex-direction: column;
            justify-content: center;
            place-items: center;
        }

        #upcoming-events h1{
            font-size: 19px;
        }

        #upcoming-events{
            justify-content: center;
            place-items: center;
        }

        img.image{
            height: 250px;
            width: 230px;
        }

        img{
            height: 200px;
        }

        .event h2{
            font-size: 19px;
        }

        footer p{
            font-size: 11px;
        }
}

@media all and (max-width: 280px) {
    .mobile-nav{
        display: block;
    }

    html{
        width: 20em;
    }

    .py-3{
        justify-content: end;
    }

    .hero-text{
        position: absolute;
        justify-content: center;
        place-items: center;
        font-size: 11px;
        left: 160px;
    }

        .heroimage{
            width: 20em;
        }

        .heading1{
            font-size: 8.6px;
        }

        p{
            font-size: 5px;
        }

        .nav-item{
            display: none;
        }

        .image-container{
            flex-direction: column;
            justify-content: center;
            place-items: center;
        }

        #upcoming-events h1{
            font-size: 19px;
        }

        #upcoming-events{
            justify-content: center;
            place-items: center;
        }

        img.image{
            height: 250px;
            width: 230px;
        }

        img{
            height: 200px;
        }

        .event h2{
            font-size: 19px;
        }

        footer p{
            font-size: 11px;
        }
}

@media all and (max-width: 225px) {
    .mobile-nav{
        display: block;
    }

    .py-3{
        justify-content: end;
    }

    .hero-text{
        position: absolute;
        font-size: 10px;
        left: 160px;
    }
        .heading1{
            font-size: 8.6px;
        }

        p{
            font-size: 5px;
        }

        .nav-item{
            display: none;
        }

        .image-container{
            flex-direction: column;
            justify-content: center;
            place-items: center;
        }

        #upcoming-events h1{
            font-size: 19px;
        }

        #upcoming-events{
            justify-content: center;
            place-items: center;
        }

        img.image{
            height: 250px;
            width: 230px;
        }

        img{
            height: 200px;
        }

        .event h2{
            font-size: 19px;
        }

        footer p{
            font-size: 11px;
        }
        html {
            width: 20em;
        }
}
